@import './lib/breakpoints.scss', './lib/variables.scss';

body {
  margin: 0;
  font-family: $font--main;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: $white;
  background-color: #00a4bd;
}

body > div:nth-child(2) {
  background: $tan;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  padding: 2.5rem 2rem;
  margin: 0 auto;

  @include md {
    padding: 2.5rem 0;
  }

  a {
    color: $white;
    border-radius: 5px;
    font-size: 0.6rem;
    text-align: center;
    background: $blue;
    display: block;
    width: 100%;
    padding: 1.1rem 0;
    margin: 2rem auto 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
      cursor: pointer;
      background: lighten($blue, 10%);
    }

    @include sm {
      padding: 1.1rem 0;
      margin: 0 0 0 2rem;
      max-width: 150px;
    }
  }

  > div {
    color: $text;
    align-items: center;
    border-left: 2px solid $orange;
    padding-left: 1rem;
    position: relative;
    max-width: 600px;

    @include sm {
      display: flex;
    }

    p {
      font-family: 'Roboto Slab';
      font-size: 0.9rem;
      line-height: 1.3;
      text-align: justify;
    }

    span {
      font-size: 0.8rem;
      font-weight: bold;
    }

    &:before,
    &:after {
      background: $orange;
      position: absolute;
      bottom: -6px;
      left: -6px;
      border-radius: 50%;
    }

    &:before {
      content: '';
      left: -5px;
      height: 8px;
      width: 8px;
    }

    &:after {
      color: $white;
      content: '\275D';
      font-size: 16px;
      text-align: center;
      padding-top: 5px;
      top: -5px;
      left: -14px;
      height: 20px;
      width: 25px;
    }
  }
}
