:root {
  --white: RGBA(255, 255, 255, 1);
  --tan: #f9f8f7;
  --orange: #ff6b01;
  --blue: #00a2e0;
  --text: #877873;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto Slab', sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}

body > div:nth-child(2) {
  background: var(--tan);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  padding: 2.5rem 0;
  margin: 0 auto;

  a {
    color: var(--white);
    border-radius: 5px;
    font-size: 0.6rem;
    text-align: center;
    background: var(--blue);
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 1.1rem 0;
    margin: 0 0 0 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  > div {
    color: var(--text);
    align-items: center;
    border-left: 2px solid var(--orange);
    display: flex;
    padding-left: 1rem;
    position: relative;
    max-width: 600px;

    p {
      font-family: 'Roboto Slab';
      font-size: 0.9rem;
      line-height: 1.5;
      text-align: justify;
    }

    span {
      font-size: 0.8rem;
      font-weight: bold;
    }

    &:before,
    &:after {
      background: var(--orange);
      position: absolute;
      bottom: -6px;
      left: -6px;
      border-radius: 50%;
    }

    &:before {
      content: '';
      left: -5px;
      height: 8px;
      width: 8px;
    }

    &:after {
      color: var(--white);
      content: '\201C';
      font-size: 40px;
      text-align: center;
      top: -5px;
      left: -14px;
      height: 25px;
      width: 25px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
