@import '../../lib/variables.scss';

.search {
  border: 1px solid $grey300;
  display: flex;
  align-items: center;
  padding: 7px 5px;
  min-width: 200px;
  input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
  }
  .icon {
    height: 100%;
    color: $grey500;
  }
}
